{
  "dataFileName": "report-ami-aging.json",
  "dataTable": "",
  "config": {
    "editable": true,
    "selectable": true,
    "columns": [
      "image-name",
      "ami-age-days"
    ],
    "row-pivots": [
      "image-name"
    ],
    "column-pivots": null,
    "aggregates": {
      "ami-age-days": "avg"
    },
    "filters": [
      [
        "ami-create-date",
        "!=",
        "0001-01-01T00:00:00Z"
      ]
    ],
    "sort": [
      [
        "image-name",
        "desc"
      ]
    ],
    "computed-columns": null,
    "plugin_config": {}
  }
}
